.control {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  transition: background-color 150ms ease;
  background-color: #1f2937 !important;
  padding: 10px !important;
}

.control:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
}

.control[data-expanded] {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
}

.label {
  font-weight: 500;
  color: #f3f4f6;
  font-size: var(--mantine-font-size-sm);
}

.icon {
  transition: transform 150ms ease;
  transform: rotate(0deg);
}

[data-expanded] .icon {
  transform: rotate(180deg);
}
